button.card {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 5rem;
  height: 7rem;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5%;
  box-shadow: 0 -0.5rem rgb(200,200,200), 0 -1rem rgb(219, 137, 107);
  & .s {
    color: red;
  }
}